<%= form_for(@post) do |f| %>
  <div class="form-group">
    <%= f.label :title %>
    <%= f.text_field :title, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :body %>
    <%= f.text_area :body, class: "form-control" %>
    </p>
  </div>

  <div class="form-group">
    <%= f.label :category %>
    <%= f.select :category, ["Sport","World Event","Gaming", "Science", "Life"], class: "form-control" %>
  </div>

  <p><%= f.label :anger, "Angry?" %> &nbsp; <%= f.check_box :anger%></p> 


  <div class="form-group">
    <%= f.submit class: "btn btn-default" %>
  </div>
<% end %>


